.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  padding: 0 24px;
}

.navigation {
  height: 100%;
}
.navigationList {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigationList > li {
  display: block;
  height: 80%;
}

.link {
  padding: 0 12px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: #111111;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  transition: background-color .1s ease;
}
.link:hover, .linkActive {
  background-color: rgba(0, 0, 0, 0.1);
}

.logoLink {
  text-decoration: none;
  color: #111111;
}
.logoLink:hover {
  text-decoration: none;
  background-color: transparent;
}
.logo {
  font-size: 28px;
  font-weight: 800;
}
