.itemPage {}

.itemContent {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.featureList {
  list-style: none;
  padding: 0
}
.featureTitle {
  font-weight: 600;
  color: gray;
}

.imageContainer {
  width: 50%;
  margin-left: 24px;
}

@media (max-width: 640px) {
  .itemContent {
    flex-direction: column;
  }
  .imageContainer {
    width: 100%;
    margin-left: 0;
  }
}
