.objectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}
.objectCard:hover {
  transform: translateY(-10px);
}

.name {
  text-transform: capitalize;
  margin: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #1A1A1A;
}

.imageContainer {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: 100%;
}

