.searchPage {
  display: flex;
}

.form {
  flex-grow: 1;
}
.form > * {
  margin-bottom: 10px;
}

.submit {
  width: 100%;
}

.content {
  flex-grow: 3;
}

@media (max-width: 992px) {
  .searchPage {
    flex-direction: column;
  }

  .form {
    margin-bottom: 40px;
  }

  .content {
    flex-grow: 1;
  }
}


